.question {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

@media (max-width: 840px) {
    .question {
        height: 22vh;
    }
}

.option {
    padding: 1% 0;
}

fieldset {
    border: none;
    padding: 2% 1%;
    margin: 2% 1%;
    margin-bottom: 4%;
}


.form-section {
    background: whitesmoke;
    padding: 2% 0;
}

input[type='radio'] {
     transform: scale(1.5); 
     border: none;
}

input[type='submit'] {
    width: 50%;
    height: 80px;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    color: #363a3d;
    font-size: 4rem;
    margin-left: 0 1.5%;
}

@media(max-width: 980px) {
    input[type='submit'] {
        width: 100%;
        height: 70px;
    }
}

@media(max-width: 435px) {
    input[type='submit'] {
        width: 100%;
        height: 50px;
        font-size: 2rem;
    }

    fieldset {
        margin-bottom: 12%;
    }
}


form p {
    font-family: 'Luckiest Guy', cursive;
    font-size: 4.5rem;
    color: #1e2f63;
    padding: 1% 0;
}

@media (max-width: 780px) {
   form p {
       font-size: 3rem;
   }
}

label {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
  padding-left: 1%;
  color: #7a90d3
}

@media (max-width: 500px) {
    label {
        font-size: 3.0rem;
    }
}
