.header-bg img {
    max-height: 90vh;
    width: 100%;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 19rem;
    text-align: center;
    background: whitesmoke;
    color: #363a3d;
    padding: 1% 0;
    letter-spacing: 3px;
}

