.results-container {
    display: flex;
    height: 40vh;
    padding-left: 6%;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}

.character-image {
    width: 60%;
}
.character-image img{
    max-width: 80%;
}

@media (max-width: 1700px) {
    .character-image img{
    max-width: 90%;
    }
}



.results {
    font-family: 'Luckiest Guy', cursive;
    font-size: 7rem;
    padding-top: 10%;
    color: #363a3d;
}

@media(max-width: 1000px) {
    .results {
        font-size: 5rem;
    }

    .origin {
        font-size: 4rem;
    }
}

@media(max-width: 750px) {
    .results {
        font-size: 4rem;
    }
    .origin {
        font-size: 3rem;
    }

    .info-container {
        justify-content: flex-start;
    }
}

@media(max-width: 500px) {
    .results {
        font-size: 3rem;
    }
    .origin {
        font-size: 2rem;
    }
}
.origin { 
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 5rem;
    color: #7a90d3;
    padding-top: 3%;
    letter-spacing: 1px;
}